# Copyright 2025 Carnegie Mellon University.
# Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
# root or contact permission@sei.cmu.edu for full terms.

[Unit]
Description=Run Mini_Challenge script every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=1min
Unit=mini-challenge.service

[Install]
WantedBy=timers.target
