...
router.post('/stockCheck', async (req, res) => {
    if (req.headers.contentType === 'application/x-www-form-urlencoded') {
        ...
    } else if (req.headers.contentType === 'text/xml' || req.headers.contentType === 'application/xml' ) {
        ...
    } else {
        res.status(400).send('Unsupported content type');
    }
});
...