<!DOCTYPE html>
<html>
	<head th:replace="fragments/main :: dochead( ${title} )">...</head>
<body>
	<nav th:replace="fragments/main :: header( ${module}, ${username} )">...</nav>
  <div class="container">
    <h3>Your cart:</h3>
    <form id="addSingleItem" th:action="@{/checkout}">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ol, iter: ${cart.orderLines}">
        	<td>
        		<input th:name="'ID-' + ${#numbers.formatInteger(iter.index + 1, 5)}" type="hidden" th:value="${ol.product.id}"/>
        		[[${ol.product.id}]]
        	</td>
        	<td>
            	<input th:name="'NAME-' + ${#numbers.formatInteger(iter.index + 1, 5)}" type="hidden" th:value="${ol.product.name}"/>
            	[[${ol.product.name}]]
            </td>
			<td>
				<input th:name="'PRICE-' + ${#numbers.formatInteger(iter.index + 1, 5)}" type="hidden" th:value="${ol.product.price}"/>
				[[${ol.product.price}]]
			</td>
			<td>
				<label for="quantity" th:text="'Quantity:'"></label>
				<input type="text" th:name="'QUANTITY-'   + ${#numbers.formatInteger(iter.index+1, 5)}" th:value="${ol.quantity}"/>
			</td>
          
        </tr>
      </tbody>
    </table>
    <input  class="btn btn-lg btn-dark" type="button" id="checkout" value="Checkout"/>
    <button class="btn btn-lg btn-dark" type="submit" id="addSingleItemSubmit">Update</button>
    </form>
  </div>
</body>
</html>