# Copyright 2024 Carnegie Mellon University.
# Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
# root or contact permission@sei.cmu.edu for full terms.

[Unit]
Description=PresCup C46 user filter service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/user_filter

[Install]
WantedBy=multi-user.target
