[Unit]
Description=.NET Pool Website

[Service]
WorkingDirectory=/var/www/html/pool
ExecStart=/usr/bin/dotnet /var/www/html/pool/PoolWeb.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-pool-website
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
