@*
Copyright 2023 Carnegie Mellon University.
Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
root or contact permission@sei.cmu.edu for full terms.
*@

@{
    ViewData["Title"] = "Dauntless Management Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dauntless Management Portal</h1>
    <img src=~/img/GDDv15.png />
</div>
