@*
Copyright 2023 Carnegie Mellon University.
Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
root or contact permission@sei.cmu.edu for full terms.
*@

<h1>WIKI</h1>

<div>
    The developers are working on a proof-of-concept API that will be hosted as a separate web application somewhere on the same local network. The design document states that 
    it will share a database and authentication with the Dauntless Management Portal. The API can be accessed via an account that has an admin role.
</div>
