# Copyright 2024 Carnegie Mellon University.
# Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
# root or contact permission@sei.cmu.edu for full terms.

[Unit]
Description=Place Tokens Throughout Challenge

[Service]
ExecStart=/etc/systemd/system/place-tokens.sh

[Install]
WantedBy=multi-user.target
