[Unit]
Description=File Sender Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/sender.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=1s


[Install]
WantedBy=multi-user.target