@*

Copyright 2024 Carnegie Mellon University.
Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
root or contact permission@sei.cmu.edu for full terms.

*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Reactor View</h1>
    <p>Use the tools on this portal to monitor and control the plant's local experimental reactors.</p>
</div>

