@*

Copyright 2024 Carnegie Mellon University.
Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
root or contact permission@sei.cmu.edu for full terms.

*@
@{
    ViewData["Title"] = "Scada Status";
}

<div class="text-center">
    <h1 class="display-4">Scada Status</h1>
</div>

<div>
    @ViewBag.output
</div>

<div>
    @ViewBag.output2
</div>

<div>
    @ViewBag.output3
</div>

