[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
msgpack = "*"

[dev-packages]
autoflake = "*"
bpython = "*"
coverage = "*"
doq = "*"
isort = "*"
pdbpp = "*"
pyinstaller = "*"
pylint = "*"
pytest = "*"
python-lsp-server = "*"
rich = "*"

[requires]
python_version = "3.7"
