@*

Copyright 2024 Carnegie Mellon University.
Released under a MIT (SEI)-style license, please see LICENSE.md in the project 
root or contact permission@sei.cmu.edu for full terms.

*@
@{
    ViewData["Title"] = "Management Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Management Portal</h1>
    <img src="~/img/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg" width="90%" />
    <div>Photo by <a href="https://unsplash.com/@@dawson2406?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Stephen Dawson</a> on <a href="https://unsplash.com/photos/qwtCeJ5cLYs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>
</div>

