@{
    ViewData["Title"] = "Townsville Community Pool - Facilities";
}

<div class="text-center">
    <h1 class="display-4">Townsville Community Pool</h1>
    <p>Welcome to the Townsville Community Pool</p>
    <img src="~/img/pool-375464_1280.jpg" />
</div>

<h2>Our Facilities</h2>
<p>List of facilities available at our pool.</p>
<ul>
    <li>Indoor and/or outdoor pools</li>
    <li>Locker rooms</li>
    <li>Showers</li>
    <li>Sauna / steam room</li>
    <li>Swim classes</li>
</ul>

<h2>Future Projects</h2>
<p>We are always working to improve and upgrade our pool's facilities. Check out what we are currently workng on.</p>
<ul>
    <li>
        <h5>Aquatic_Oasis</h5>
        A relaxing pool-side paradise shaded by natural outdoor elements.<br/><br/>
    </li>
    <li>
        <h5>Splash_Zone_Initiative</h5>
        A great new place for your children to relax and cool off.<br/><br/>
    </li>
    <li>
        <h5>Poolside_Paradise</h5>
        A refreshing poolside bar serving both alcoholic and non-alcoholic beverages.<br/><br/>
    </li>
    <li>
        <h5>Crystal_Waters_Project</h5>
        A crystal clear infinity pool.<br/><br/>
    </li>
    <li>
        <h5>SwimFit_Challenge</h4>
        Work with our training staff to achieve your fitness goals and compete against other members.<br/><br/>
    </li>
    <li>
        <h5>Hydrotherapy_Haven</h5>
        We are upgrading and expanding our spas!<br/><br/>
    </li>
    <li>
        <h5>Wave_Rider_Project</h5>
        A feasability study for the possibility of a wave pool.<br/><br/>
    </li>
    <li>
        <h5>Serene_Depths_Initiative</h5>
        Our scuba diving learning program is being updated.<br/><br/>
    </li>
    <li>
        <h5>Aquatic_Adventure_Project</h5>
        An exciting selection of classes for kids and adults.<br/><br/>
    </li>
    <li>
        <h5>Pool_Revitalization_Project</h5>
        We will be resurfacing the mail pool in the coming off season.<br/><br/>
    </li>
    <li>
        <h5>Aqua_Wellness_Program</h5>
        We are making some minor changes to our classes for seniors.<br/><br/>
    </li>
    <li>
        <h5>Dive_into_Wellness</h5>
        We are adding health and wellness classes for members of all ages.<br/><br/>
    </li>
    <li>
        <h5>Swim_Safety_Initiative</h5>
        Learn the basics of swim safey. Excellent for future lifeguards.<br/><br/>
    </li>
    <li>
        <h5>Ripple_Effect_Project</h5>
        More information to be released soon!<br/><br/>
    </li>    
    <li>
        <h5>Poolside_Innovations</h5>
        We are adding advanced new technology throughout the pool grounds to enhance almost every aspect of your experience. 
        We are currently working with a vendor named Automated Pool Management to install their Thermo Control System, Model No. 38119. 
        This system will allow us to remotely monitor and control the temperature of all pools at our facility.<br/><br/>
    </li>
    <li>
        <h5>Liquid_Tranquility_Project</h5>
        Relax . . . More information will be released soon.<br/><br/>
    </li>
    <li>
        <h5>Swim_School_Development</h5>
        Townsville will be offering a variety of new classes this summer.<br/><br/>
    </li>
    <li>
        <h5>Aquatic_Eco_Initiative</h5>
        Find out how about we are becoming more environmentally friendly.<br/><br/>
    </li>
    <li>
        <h5>Deep_Dive_Discovery</h5>
        More information to be released soon!<br/><br/>
    </li>
    <li>
        <h5>Poolside_Perfection_Project</h5>
        More information to be released soon!<br/><br/>
    </li>
</ul>
