@{
    ViewData["Title"] = "Townsville Community Pool - Hours and Pricing";
}

<div class="text-center">
    <h1 class="display-4">Townsville Community Pool</h1>
    <p>Welcome to the Townsville Community Pool</p>
    <img src="~/img/water-park-497927_1280.jpg" />
</div>

<h2>Hours</h2>
<p>Monday: 11 AM - 10 PM</p>
<p>Tuesday: 11 AM - 10 PM</p>
<p>Wednesday: 11 AM - 10 PM</p>
<p>Thursday: 11 AM - 10 PM</p>
<p>Friday: 11 AM - 12 AM</p>
<p>Saturday: 11 AM - 12 AM</p>
<p>Sunday: 11 AM - 8 PM</p>
<p>* Holiday closures will be listed here:</p>
<p>No upcoming holiday closures</p>

<br/>

<h2>Pricing</h2>
<p>Yearly single membership: $500.00</p>
<p>Yearly couples membership: $800.00</p>
<p>Yearly family membership: $1500.00</p>
<p>Non-members daily visitor pass: $25.00</p>
<p> *Ask the front desk about pricing for private parties and group discounts.</p>
