@{
    ViewData["Title"] = "Townsville Community Pool - Our Team";
}

<div class="text-center">
    <h1 class="display-4">Townsville Community Pool</h1>
    <p>Welcome to the Townsville Community Pool</p>
    <img src="~/img/swimmers-79592_1280.jpg" />
</div>

<h2>Meet our team!</h2>
<ul>
    <li>
        <h4>President</h4>
        Jamie Johns<br/>
        jamie.johns@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Vice President</h4>
        Sam Martin<br/>
        sam.martin@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Pool Manager</h4>
        Susan Thomas<br/>
        susan.thomas@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Treasurer</h4>
        Anne Martinez<br/>
        anne.martines@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Swim Team Manager</h4>
        Todd Thorne<br/>
        todd.thorne@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Swim Team Coach</h4>
        Sarah Davis<br/>
        sarah.davis@townsvillepool.merch.codes<br/><br/>
    </li>
    <li>
        <h4>Head Lifeguard</h4>
        Jessica Wilson<br/>
        jessica.wilson@townsvillepool.merch.codes<br/><br/>
    </li>
</ul>