[Unit]
Description=Pool Client
After=network.target
Requires=poolserver.service
After=poolserver.service

[Service]
User=user
WorkingDirectory=/home/user/Documents/
ExecStart=/bin/python3 /home/user/Documents/poolclient.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
